header {
 width: 100px;
 background-color: blue;
 border: solid;
}


.sidebar {
 display: inline;
 width: 25px;
 float: left;
 background-color: gray;

}

.article {
 display: inline;
 width: 40px;
 float: left;
 padding-left: 5px;
 padding-right: 5px;

}


.sidebar2 {
 display: inline;
 width: 25px;
 float: right;
 background-color: gray;
 border: solid;
}