<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginConta</servlet-name>
        <servlet-class>DAO.LoginContaServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Depositar</servlet-name>
        <servlet-class>DAO.DepositarServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sacar</servlet-name>
        <servlet-class>DAO.SacarServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>DAO.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>DAO.PrincipalServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>DAO.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cabecalho</servlet-name>
        <servlet-class>DAO.CabecalhoServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtratoServelet</servlet-name>
        <servlet-class>DAO.ExtratoServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutConta</servlet-name>
        <servlet-class>DAO.LogoutContaServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmprestimoServelet</servlet-name>
        <servlet-class>DAO.EmprestimoServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinanciamentoServelet</servlet-name>
        <servlet-class>DAO.FinanciamentoServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginConta</servlet-name>
        <url-pattern>/LoginConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Depositar</servlet-name>
        <url-pattern>/Depositar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sacar</servlet-name>
        <url-pattern>/Sacar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cabecalho</servlet-name>
        <url-pattern>/Cabecalho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtratoServelet</servlet-name>
        <url-pattern>/ExtratoServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutConta</servlet-name>
        <url-pattern>/LogoutConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmprestimoServelet</servlet-name>
        <url-pattern>/EmprestimoServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinanciamentoServelet</servlet-name>
        <url-pattern>/FinanciamentoServelet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
